apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    kompose.cmd: kompose convert -f ../docker-compose.yml
    kompose.version: 1.17.0 (a74acad)
  creationTimestamp: null
  labels:
    io.kompose.service: app
  name: app
spec:
  replicas: 1
  strategy:
    type: Recreate
  template:
    metadata:
      creationTimestamp: null
      labels:
        io.kompose.service: app
    spec:
      containers:
      - env:
        - name: POSTGRES_DB
          valueFrom:
            configMapKeyRef:
              key: POSTGRES_DB
              name: django-envs-production
        - name: POSTGRES_HOST
          valueFrom:
            configMapKeyRef:
              key: POSTGRES_HOST
              name: django-envs-production
        - name: POSTGRES_PASSWORD
          valueFrom:
            configMapKeyRef:
              key: POSTGRES_PASSWORD
              name: django-envs-production
        - name: POSTGRES_PORT
          valueFrom:
            configMapKeyRef:
              key: POSTGRES_PORT
              name: django-envs-production
        - name: POSTGRES_USER
          valueFrom:
            configMapKeyRef:
              key: POSTGRES_USER
              name: django-envs-production
        - name: CACHE_URL
          value: redis://redis
        - name: DATABASE_URL
          valueFrom:
            configMapKeyRef:
              key: DATABASE_URL
              name: django-envs-production
        - name: DJANGO_SECRET_KEY
          valueFrom:
            configMapKeyRef:
              key: DJANGO_SECRET_KEY
              name: django-envs-production
        # image: paindumonde-django-app:tag
        image: gcr.io/minikube-tutorial/paindumonde-django-app:1124cbf2fa0a5151013a2dea1f847b041d715f78
        name: app
        ports:
        - containerPort: 8000
          name: app
      #   volumeMounts:
      #   - name: django-persistent-storage
      #     mountPath: /code/bakerydemo/media/images
      # volumes:
      # - name: django-persistent-storage
      #   persistentVolumeClaim:
      #     claimName: django-pv-claim
      restartPolicy: Always
status: {}
